$white: #fff;
$black: #000;
$red: #f00;
$red-a: #e74c3c;
$white-gray: #f4f5f9;
$gray-light: #cbc6c0;
$white-gray: #f1ebe7;
$advantages-line: #e6e7eb;
$advantages-border-gray: #5e5e5e;
$advantages-gray: #999;
$gray: #666;
