.recent {
	margin-top: 140px;
	color: $gray;
	text-align: center;

	p {
		font-family: "Opens Sans";
		font-size: 14px;
		line-height: 29px;
		letter-spacing: 0.14px;
		margin: 20px 0;
		color: $gray;
	}

	.recent__devider {
		@include devider($advantages-gray);
	}

	.recent__title {
		font-family: "Source Sans Pro";
		font-size: 36px;
		line-height: 36px;
		letter-spacing: 3.6px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.recent__links {
		margin: 40px 0;
		text-align: center;
		color: $advantages-gray;

		a {
			font-size: 14px;
			color: $advantages-gray;
			text-decoration: none;
			display: inline-block;
			margin: 5px 18px;
			transition-duration: .5s;
			transition-property: color;

			&:hover {
				color: $red;
			}
		}
	}

	.recent__block {
		display: flex;
		flex-wrap: wrap;
		max-width: 1920px;
		margin: 40px auto 0;
	}

	.recent__element {
		flex-basis: 25%;
		position: relative;

		img {
			display: block;
			max-width: 100%;
		}

		a {
			text-decoration: none;
			display: block;

			&::after {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: rgba(231, 76, 60, .8);
				opacity: 0;
				transition-duration: .5s;
				transition-property: opacity;
			}

			&:hover {

				&::after,
				p {
					opacity: 1;
				}
			}
		}

		p {
			position: absolute;
			left: 10%;
			bottom: 35px;
			z-index: 1;
			color: $white;
			opacity: 0;
			transition-duration: .5s;
			transition-property: opacity;

			&::before {
				content: "";
				display: block;
				width: 45px;
				height: 5px;
				background-color: $white;
				margin-bottom: 25px;
			}

			span {
				display: block;
				margin: 15px 0;
				font-size: 14px;
				letter-spacing: 0.7px;
				text-align: left;

				&:first-child {
					font-family: "Source Sans Pro";
					font-size: 24px;
					font-weight: 600;
					letter-spacing: 1.2px;
					text-transform: uppercase;

				}
			}
		}
	}
}

@media (max-width: 980px) {
	.recent {
		margin-top: 50px;

		.recent__element {
			p {
				bottom: 10px;

				&:before {
					margin-bottom: 10px;
				}

				span {
					margin: 1px 0;

					&:first-child {
						font-size: 18px;

					}
				}
			}
		}
	}
}

@media (max-width: 980px) {
	.recent {
		.recent__element {
			flex-basis: 50%;
		}

		.recent__links {
			a {
				margin: 5px 5px;
			}
		}
	}
}

@media (max-width: 480px) {
	.recent {
		.recent__element {
			flex-basis: 100%;
		}
	}
}